src/Donnees/numberOfSymbolCharacter.dtd

<?xml version="1.0" encoding="utf-8" ?>

<!ELEMENT iso (version+) >
<!ELEMENT version (correction_level+) >
<!ATTLIST version numero CDATA #REQUIRED> 

<!ELEMENT correction_level (number_bits, data_capacity) >
<!ATTLIST correction_level level (L|M|Q|H) #REQUIRED> 

<!ELEMENT number_bits (#PCDATA) >

<!ELEMENT data_capacity (numeric, alphanumeric, byte, kanji) >
<!ELEMENT numeric (#PCDATA)>
<!ELEMENT alphanumeric (#PCDATA)>
<!ELEMENT byte (#PCDATA)>
<!ELEMENT kanji (#PCDATA)>
